*{
    padding: 0;
    margin: 0;
}



#section1{
    background-image: linear-gradient(red,orange);
    height: 400px;
    text-align: center;
    padding-top: 9rem;
}




#section1 .content p{
    font-size: 1rem;
    margin-top: 1rem;
    color: white;
}

#section2{
    padding-top: 2rem;
}

#section2 #boxes{
   display: flex;
   gap: 1rem;
   justify-content: center;
   flex-wrap: wrap;
}

#boxes .box{
    flex-basis: 22%;
    box-shadow: 1px 1px 10px #ccc;
    padding: 1rem;

}

.find{
    color: red;
    font-size: 4rem;
    margin-left: 1rem;
}
/* tablet */
@media(max-width:768px){
    
    .find{
    display: none;
    }
    #section2{
        padding-inline: 1rem;
    }
    #section2 #boxes{
        flex-direction: column;
    }
    #section1{
        background-image: linear-gradient(to right,purple,rgb(239, 44, 77));
        padding-inline: 1.4rem;
        height: 200px;
        text-align: left;
        padding-top: 4rem;
    }
    .mobile{
        color: green;
        text-align: left;
        font-size: 3rem;
    }
}

/* mobile */

@media(max-width:375px){
    .find{
        display: block;
    }
     
#section1{
    background-image: linear-gradient(to right,cyan,teal);
    padding-inline: 1.4rem;
    height: 200px;
    text-align: left;
    padding-top: 4rem;
}
}