*{
    padding: 0;
    margin:0;
    font-family: helvetica;
    box-sizing: border-box;

}



#section1{
    background-color: teal;
    padding-bottom: 12rem;
}

#section1 .container{
    text-align: center;
    padding-inline:4rem ;
    color: #fff;
}

#section1 button{
    border: 2px solid white;
    padding: 0.8rem 2.5rem;
    border-radius: 8px;
    background-color: inherit;
    color: currentColor;
    font-size: 1rem;
    text-transform: capitalize;
    margin-top: 1rem;
    opacity: 0;
    animation-name: button-show;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;

}

@keyframes button-show {
    100%{opacity: 1;}
}

#section1 h1{
    font-size: 2rem;
    position: relative;
    top: -100px;
    animation-name: show;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes show {
    100%{top:170px}
}

#section1 p{
    padding-top: 12rem;
    line-height: 1.6;
}

#section2{
    padding-block: 16rem;
    background-image: linear-gradient(red,green,purple);
    color: white;
    animation-name:section2 ;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    position: relative;
    overflow: hidden;

}


@keyframes section2{
    0%{background-image:linear-gradient(to right, red,green,blue,orange,pink,indigo)}
    25%{background-image:conic-gradient(red,green,blue,orange,pink,indigo);}
    50%{background-image:radial-gradient(red,green,blue,orange,pink,indigo);}
    75%{background-image:linear-gradient(to top left, red,green,blue,orange,pink,indigo);}
    100%{background-image:linear-gradient(to right, red,green,blue,orange,pink,indigo);}
}


#section2 p{
    position: absolute;
    left: -1000px;
    animation: movement;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    border: 2px solid red;
    word-wrap: normal;
    overflow: hidden;
}



@keyframes movement{
  /* 0%{left: 0px;} */
  100%{left: 2000px;}
}

